## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [155]:
# Use this cell to begin your analysis, and add as many as you would like!
import pandas as pd
data1 = pd.read_csv('datasets/wastestats.csv')
data2 = pd.read_csv('datasets/2018_2019_waste.csv')
data3 = pd.read_csv('datasets/energy_saved.csv')
print(data1.head())
print(data2.head(6))
print(data3.head(7))

            waste_type  waste_disposed_of_tonne  total_waste_recycled_tonne  \
0                 Food                   679900                    111100.0
1      Paper/Cardboard                   576000                    607100.0
2             Plastics                   762700                     59500.0
3                  C&D                     9700                   1585700.0
4  Horticultural waste                   111500                    209000.0

   total_waste_generated_tonne  recycling_rate  year
0                       791000            0.14  2016
1                      1183100            0.51  2016
2                       822200            0.07  2016
3                      1595400            0.99  2016
4                       320500            0.65  2016
                 Waste Type  Total Generated ('000 tonnes)  \
0  Construction& Demolition                           1440
1             Ferrous Metal                           1278
2           Paper/Cardboard                           1011
3                  Plastics                            930
4                      Food                           7440
5                      Wood                            438

   Total Recycled ('000 tonnes)  Year
0                          1434  2019
1                          1270  2019
2                           449  2019
3                            37  2019
4                           136  2019
5                           289  2019
  The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram)  per waste type  \
0    1 barrel oil is approximately 159 litres of oil
1                                                NaN
2                                           material
3                                       energy_saved
4                                    crude_oil saved

   Unnamed: 1 Unnamed: 2     Unnamed: 3         Unnamed: 4   Unnamed: 5
0         NaN        NaN            NaN                NaN          NaN
1         NaN        NaN            NaN                NaN          NaN
2     Plastic      Glass  Ferrous Metal  Non-Ferrous Metal        Paper
3    5774 Kwh     42 Kwh        642 Kwh          14000 Kwh     4000 kWh
4  16 barrels        NaN    1.8 barrels         40 barrels  1.7 barrels

In [156]:
print(data1.info())
print(data2.info())
print(data3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 6 columns):
waste_type                     225 non-null object
waste_disposed_of_tonne        225 non-null int64
total_waste_recycled_tonne     225 non-null float64
total_waste_generated_tonne    225 non-null int64
recycling_rate                 225 non-null float64
year                           225 non-null int64
dtypes: float64(2), int64(3), object(1)
memory usage: 10.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
Waste Type                       30 non-null object
Total Generated ('000 tonnes)    30 non-null int64
Total Recycled ('000 tonnes)     30 non-null int64
Year                             30 non-null int64
dtypes: int64(3), object(1)
memory usage: 1.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram)  per waste type    4 non-null object
Unnamed: 1                                                                                                                                                             3 non-null object
Unnamed: 2                                                                                                                                                             2 non-null object
Unnamed: 3                                                                                                                                                             3 non-null object
Unnamed: 4                                                                                                                                                             3 non-null object
Unnamed: 5                                                                                                                                                             3 non-null object
dtypes: object(6)
memory usage: 320.0+ bytes
None

In [157]:
all_data = data1[data1['year'].isin(['2015', '2016', '2017'])]
all_data = all_data[['waste_type', 'total_waste_recycled_tonne', 'year']]

In [158]:
all_data['total_waste_recycled_tonne'] = all_data['total_waste_recycled_tonne'].astype(int)
all_data.dtypes

waste_type                    object
total_waste_recycled_tonne     int64
year                           int64
dtype: object

In [159]:
data2_remade = pd.DataFrame()
data2_remade['waste_type'] = data2['Waste Type'] 
data2_remade["total_waste_recycled_tonne"] = data2["Total Recycled ('000 tonnes)"] * 1000
data2_remade['year'] = data2['Year'] 
data2_remade.dtypes

waste_type                    object
total_waste_recycled_tonne     int64
year                           int64
dtype: object

In [160]:
all_data = all_data.append(data2_remade, ignore_index=True)
all_data.describe()

       total_waste_recycled_tonne         year
count                7.500000e+01    75.000000
mean                 6.013067e+05  2017.000000
std                  1.172799e+06     1.423737
min                  5.700000e+03  2015.000000
25%                  2.845000e+04  2016.000000
50%                  1.270000e+05  2017.000000
75%                  4.385000e+05  2018.000000
max                  4.769000e+06  2019.000000

In [161]:
all_data['waste_type'].unique()

array(['Food', 'Paper/Cardboard', 'Plastics', 'C&D',
       'Horticultural waste', 'Wood', 'Ferrous metal',
       'Non-ferrous metal', 'Used slag', 'Ash & Sludge', 'Glass',
       'Textile/Leather', 'Scrap tyres',
       'Others (stones, ceramics & rubber etc.)', 'Total',
       'Others (stones, ceramics & rubber etc)', 'Construction debris',
       'Non-ferrous metals', 'Ash and sludge', 'Plastic',
       'Others (stones, ceramic, rubber, etc.)',
       'Construction& Demolition', 'Ferrous Metal', 'Horticultural',
       'Used Slag', 'Non-Ferrous Metal', 'Scrap Tyres',
       'Others (stones, ceramic, rubber, ect)', 'Overall'], dtype=object)

In [162]:
all_data['waste_type']=all_data['waste_type'].replace({'Plastics':'Plastic', 'Ferrous Metal': 'Ferrous metal', 'Non-Ferrous Metal': 'Non-ferrous metal', 
                 'Non-ferrous metals':'Non-ferrous metal'})
all_data['waste_type'].unique()

array(['Food', 'Paper/Cardboard', 'Plastic', 'C&D', 'Horticultural waste',
       'Wood', 'Ferrous metal', 'Non-ferrous metal', 'Used slag',
       'Ash & Sludge', 'Glass', 'Textile/Leather', 'Scrap tyres',
       'Others (stones, ceramics & rubber etc.)', 'Total',
       'Others (stones, ceramics & rubber etc)', 'Construction debris',
       'Ash and sludge', 'Others (stones, ceramic, rubber, etc.)',
       'Construction& Demolition', 'Horticultural', 'Used Slag',
       'Scrap Tyres', 'Others (stones, ceramic, rubber, ect)', 'Overall'],
      dtype=object)

In [163]:
print(all_data[all_data['waste_type'] == 'Plastic'])
print(all_data[all_data['waste_type'] == 'Ferrous metal'])
print(all_data[all_data['waste_type'] == 'Non-ferrous metal'])
print(all_data[all_data['waste_type'] == 'Glass'])

   waste_type  total_waste_recycled_tonne  year
2     Plastic                       59500  2016
17    Plastic                       57800  2015
41    Plastic                       51800  2017
48    Plastic                       37000  2019
63    Plastic                       41000  2018
       waste_type  total_waste_recycled_tonne  year
6   Ferrous metal                     1351500  2016
21  Ferrous metal                     1333300  2015
31  Ferrous metal                     1371000  2017
46  Ferrous metal                     1270000  2019
61  Ferrous metal                      126000  2018
           waste_type  total_waste_recycled_tonne  year
7   Non-ferrous metal                       95900  2016
22  Non-ferrous metal                      160400  2015
33  Non-ferrous metal                       92200  2017
55  Non-ferrous metal                      124000  2019
70  Non-ferrous metal                      170000  2018
   waste_type  total_waste_recycled_tonne  year
10      Glass                       14700  2016
25      Glass                       14600  2015
38      Glass                       12400  2017
56      Glass                       11000  2019
71      Glass                       12000  2018

In [164]:
all_data_cleaned = all_data[all_data['waste_type'].isin(['Plastic', 'Ferrous metal', 'Non-ferrous metal', 'Glass'])]
all_data_cleaned

           waste_type  total_waste_recycled_tonne  year
2             Plastic                       59500  2016
6       Ferrous metal                     1351500  2016
7   Non-ferrous metal                       95900  2016
10              Glass                       14700  2016
17            Plastic                       57800  2015
21      Ferrous metal                     1333300  2015
22  Non-ferrous metal                      160400  2015
25              Glass                       14600  2015
31      Ferrous metal                     1371000  2017
33  Non-ferrous metal                       92200  2017
38              Glass                       12400  2017
41            Plastic                       51800  2017
46      Ferrous metal                     1270000  2019
48            Plastic                       37000  2019
55  Non-ferrous metal                      124000  2019
56              Glass                       11000  2019
61      Ferrous metal                      126000  2018
63            Plastic                       41000  2018
70  Non-ferrous metal                      170000  2018
71              Glass                       12000  2018

In [165]:
plastic = all_data[all_data['waste_type'] == 'Plastic']
glass = all_data[all_data['waste_type'] == 'Glass']
ferrous_metal = all_data[all_data['waste_type'] == 'Ferrous metal']
non_ferrous_metal = all_data[all_data['waste_type'] == 'Non-ferrous metal']

In [166]:
plastic['total_energy_saved'] = plastic['total_waste_recycled_tonne'] * 5774
glass['total_energy_saved'] = glass['total_waste_recycled_tonne'] * 42
ferrous_metal['total_energy_saved'] = ferrous_metal['total_waste_recycled_tonne'] * 642
non_ferrous_metal['total_energy_saved'] = non_ferrous_metal['total_waste_recycled_tonne'] * 14000

In [167]:
ferrous_metal

       waste_type  total_waste_recycled_tonne  year  total_energy_saved
6   Ferrous metal                     1351500  2016           867663000
21  Ferrous metal                     1333300  2015           855978600
31  Ferrous metal                     1371000  2017           880182000
46  Ferrous metal                     1270000  2019           815340000
61  Ferrous metal                      126000  2018            80892000

In [168]:
df = pd.concat([plastic, glass, ferrous_metal, non_ferrous_metal])
df_ind = df.set_index('year')
df_ind

             waste_type  total_waste_recycled_tonne  total_energy_saved
year
2016            Plastic                       59500           343553000
2015            Plastic                       57800           333737200
2017            Plastic                       51800           299093200
2019            Plastic                       37000           213638000
2018            Plastic                       41000           236734000
2016              Glass                       14700              617400
2015              Glass                       14600              613200
2017              Glass                       12400              520800
2019              Glass                       11000              462000
2018              Glass                       12000              504000
2016      Ferrous metal                     1351500           867663000
2015      Ferrous metal                     1333300           855978600
2017      Ferrous metal                     1371000           880182000
2019      Ferrous metal                     1270000           815340000
2018      Ferrous metal                      126000            80892000
2016  Non-ferrous metal                       95900          1342600000
2015  Non-ferrous metal                      160400          2245600000
2017  Non-ferrous metal                       92200          1290800000
2019  Non-ferrous metal                      124000          1736000000
2018  Non-ferrous metal                      170000          2380000000

In [169]:
annual_energy_savings = pd.DataFrame()

In [170]:
annual_energy_savings = df_ind.groupby('year')[['total_energy_saved']].sum()
annual_energy_savings

      total_energy_saved
year
2015          3435929000
2016          2554433400
2017          2470596000
2018          2698130000
2019          2765440000